@import url("https://fonts.googleapis.com/css2?family=Space+Mono&family=Spartan:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$titleFont: "Spartan", sans-serif;
$monospaceFont: "Space Mono", monospace;
$textFont: "Rubik", sans-serif;

$secondary: #114b5fff;
$secondaryLight: rgb(28, 126, 141);
$primaryDark: #1a936fff;
$primary: #88d498ff;
$primaryLight: #c6dabfff;
$light: #f3e9d2ff;
$background: rgb(241, 231, 219);

@for $i from 1 through 6 {
    h#{$i} {
        font-family: $titleFont;
        color: $primaryDark;
        word-break: break-word;
    }
}

html,
body {
    font-size: 18px;
    font-family: $textFont;
    background-color: $background;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    text-align: center;
    padding: 20px 0;
    flex-shrink: 0;
}

a {
    color: inherit;
    text-decoration: underline;
    &:hover {
        color: $secondary;
    }
}

.newsletter {
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: $primaryDark;
    color: $light;

    @for $i from 1 through 6 {
        h#{$i} {
            margin-top: 0;
            color: $light;
        }
    }

    form {
        input[type="submit"] {
            font-family: $textFont;
            background-color: $secondary;
            color: $light;
            border: none;
            font-size: 1rem;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            cursor: pointer;

            &:hover {
                background-color: $secondaryLight;
            }
        }

        #tlemail {
            font-family: $textFont;
            font-size: 0.8rem;
            border: none;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
        }
    }
}
