@import url("https://fonts.googleapis.com/css2?family=Space+Mono&family=Spartan:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$titleFont: "Spartan", sans-serif;
$monospaceFont: "Space Mono", monospace;
$textFont: "Rubik", sans-serif;

$secondary: #114b5fff;
$secondaryLight: rgb(45, 156, 173);
$primaryDark: #1a936fff;
$primary: #88d498ff;
$primaryLight: #c6dabfff;
$light: #f3e9d2ff;
$background: rgb(243, 228, 210);

@for $i from 1 through 6 {
    h#{$i} {
        font-family: $titleFont;
        color: $primaryDark;
    }
}

html,
body {
    font-size: 16px;
    font-family: $textFont;
    background-color: $background;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: underline dotted;
    &:hover {
        color: $secondary;
    }
}
