@import "global";

#blog-title {
    font-size: 3rem;
    color: $secondary;
    text-align: center;

    a {
        text-decoration: dotted underline 4px;
    }
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: $secondary;

    a:hover {
        color: $secondaryLight;
    }
}

.content {
    min-width: 1200px;
    margin: auto;

    @media (max-width: 1200px) {
        min-width: auto;
        margin: 5%;
        max-width: none;
    }
}

.post {
    margin-bottom: 2rem;
    .post-title {
        margin-bottom: 5px;
    }
    .post-date {
        font-family: $monospaceFont;
        color: rgb(109, 150, 120);
    }
    .post-description {
        margin-top: 0;
    }
}
