@import "global";

.header {
    margin-bottom: 3rem;
    .author {
        margin-top: 1rem;
    }
}

.title-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

    h1,
    h3 {
        margin-bottom: 0;
    }
}

.title {
    color: $secondary;
    font-size: 2.5rem;
}

.date {
    font-family: $monospaceFont;
    color: rgb(164, 189, 171);
}

.content {
    max-width: 1000px;
    margin: auto;

    @media (max-width: 1200px) {
        margin: 5%;
        max-width: none;
    }

    @for $i from 1 through 3 {
        h#{$i} {
            margin-top: 3rem;
        }
    }
}

code {
    font-family: $monospaceFont;
}

.hljs {
    border-radius: 5px;
}

.katex-display {
    overflow-x: auto;
    overflow-y: hidden;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    @media (max-width: 768px) {
        width: 100%;
    }
}
