@import url("https://fonts.googleapis.com/css2?family=Space+Mono&family=Spartan:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap");
h1 {
  font-family: "Spartan", sans-serif; }

h2 {
  font-family: "Spartan", sans-serif; }

h3 {
  font-family: "Spartan", sans-serif; }

h4 {
  font-family: "Spartan", sans-serif; }

h5 {
  font-family: "Spartan", sans-serif; }

h6 {
  font-family: "Spartan", sans-serif; }

html,
body {
  font-size: 16px;
  font-family: "Rubik", sans-serif; }

.content {
  max-width: 1000px;
  margin: auto; }

code {
  font-family: "Space Mono", monospace; }

.hljs {
  font-size: 0.8em; }
